<table border="0">
  <tr><td>
      <%= admin_menu('tags') -%>
  </td><td>
  <div id="admin_content">

<h2>Добавление тега</h2>

<%= error_messages_for :tag -%>

<%- form_for (:tag, :url => admin_tags_path, :html => {:method => 'post'}) do |f| -%>

  <p><label for="tag_name">Название</label><br/>
  <%= f.text_field :name -%></p>

  <p><%= f.check_box :is_mood, :style => "margin-left:0;" -%>&nbsp;<label for="tag_is_mood">Настроение</label></p>

  <p><%= submit_tag 'Добавить' %> <%= link_to('Назад', admin_tags_path) -%></p>
<%- end -%>
  </div>
</td></tr>
</table>
